{% extends 'app/base.html' %}
{% load humanize %}

{% block content %}

<div class="my-5">
    <div class="mb-5 text-center">
        <h1>宿泊プラン</h1>
    </div>
    <div>
        {% for plan in object_list %}

        <div class="card mb-3">
            <div class="card-header">{{ plan.planname }}</div>
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ plan.image.url }}" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">【予約受付期間】{{ plan.start_reception }}〜{{ plan.end_reception }}</p>
                  <p class="card-text">食事: {{ plan.get_meal_display }}  チェックイン: {{ plan.checkin }}~  チェックアウト: ~{{ plan.checkout }}</p>
                  <p class="card-text"><small class="text-muted">{{ plan.short_description }}</small></p>
                </div>
              </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>部屋タイプ・詳細</th>
                        <th>大人1名(税込)</th>
                        <th>合計(税込)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in plan.room.all %}
                    <tr>
                        <td>
                            <a href="{% url 'booking' %}">
                                <img src="{{ room.image.url }}" style="width:60px;">
                                {{ room.name }}    
                            </a>
                        </td>
                        <td>
                            {{ room.roomcharge|intcomma }} 円～
                        </td>
                        <td>
                            {{ room.total_amount|intcomma }} 円～
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        {% endfor %}
    </div>
</div>

{% endblock %}