{% extends 'sample_confirm_view/base.html' %}

{% block content %}
{% if form.errors %}
<div class="alert alert-danger">エラーが発生しました。</div>
{% endif %}
<div>
    <h4 class="mb-3">Sample1 フォーム</h4>
    <form class="needs-validation" novalidate method="post">{% csrf_token %}
        <table class="table mb-3">
            <tbody>
                {{ form.as_table }}
            </tbody>
        </table>
        <input type="hidden" name="step" value="confirm">
        <button class="btn btn-primary" type="submit">確認画面へ</button>
    </form>
</div>
{% endblock %}
